ul.icons.major li {
    padding-right: 3em;
    padding-left: 3em;
}
.features li a{
text-decoration:none;
border-bottom:0;
}
.icon.major{
	height: calc(10em + 2px);
    width: calc(10em + 2px);
}

.wrapper.style1 .icon.major{
    overflow: hidden;
    background: #fff;
}

.wrapper.style1 .icon.major img{
	position: relative;
    left: 5px;
    -moz-transform: rotate(+45deg);
    /* -webkit-transform: rotate(+45deg); */
    -ms-transform: rotate(+45deg);
    transform: rotate(+45deg);
    top: 0;
}
.all_link{
    margin:20px 0 0 0;
}
.all_link a{
    font-size:0.9em;
}


.image.fit{
    margin: 2em 0 1em 0;
}

.row.gtr-50.gtr-uniform .col-6 .image.fit{
    margin-top:0;
}

.contact_persons{
margin:25px 0 40px 0;
width:100%;
}

.contact_persons:after{
clear:both;
content:'';
display:block;
}

.contact_persons > div {
    float:left;
    width:33%;
    text-align:center;
    margin:15px 0;
}